:root {
  --color-sell: #f6465d;
  --color-textSell: #f6465d;
  --color-sellHover: #ff707e;
  --color-depthSellBg: #35141d;
  --color-buy: #0ecb81;
  --color-textBuy: #0ecb81;
  --color-buyHover: #32d993;
  --color-depthBuyBg: #102821;
  --color-line: #2b3139;
  --color-outlineHover: #6a4403;
  --color-primary: #fcd535;
  --color-primaryHover: #f0b90b;
  --color-error: #f6465d;
  --color-errorBg: #35141d;
  --color-success: #0ecb81;
  --color-successBg: #102821;
  --color-disable: #474d57;
  --color-iconNormal: #848e9c;
  --color-textWhite: #ffffff;
  --color-textGray: #eaecef;
  --color-textBlack: #0b0e11;
  --color-textPrimary: #eaecef;
  --color-textSecondary: #b7bdc6;
  --color-textThird: #848e9c;
  --color-textDisabled: #5e6673;
  --color-textBrand: #f0b90b;
  --color-textToast: #a37200;
  --color-bg1: #181a20;
  --color-bg2: #0b0e11;
  --color-bg3: #2b3139;
  --color-bg4: #5e6673;
  --color-bg6: #20262d;
  --color-bg7: #191a1f;
  --color-popupBg: #1e2329;
  --color-badgeBg: #3c2601;
  --color-gradientBrand: linear-gradient(180deg, #f8d12f 0%, #f0b90b 100%);
  --color-gradientPrimary: linear-gradient(295.27deg, #15141a 0%, #474d57 84.52%)
}