:root {
  --color-sell: #f6465d;
  --color-textSell: #e33b54;
  --color-sellHover: #ff707e;
  --color-depthSellBg: #fef1f2;
  --color-buy: #0ecb81;
  --color-textBuy: #03a66d;
  --color-buyHover: #32d993;
  --color-depthBuyBg: #e6fff1;
  --color-line: #eaecef;
  --color-outlineHover: #ffef87;
  --color-primary: #fcd535;
  --color-primaryHover: #f0b90b;
  --color-error: #e33b54;
  --color-errorBg: #fef1f2;
  --color-success: #0ecb81;
  --color-successBg: #e6fff1;
  --color-disable: #eaecef;
  --color-iconNormal: #929aa5;
  --color-textWhite: #ffffff;
  --color-textGray: #eaecef;
  --color-textBlack: #0b0e11;
  --color-textPrimary: #1e2329;
  --color-textSecondary: #474d57;
  --color-textThird: #707a8a;
  --color-textDisabled: #b7bdc6;
  --color-textBrand: #c99400;
  --color-textToast: #8d5f02;
  --color-bg1: #ffffff;
  --color-bg2: #fafafa;
  --color-bg3: #f5f5f5;
  --color-bg4: #5e6673;
  --color-bg6: #ffffff;
  --color-bg7: #fafafa;
  --color-popupBg: #ffffff;
  --color-badgeBg: #fef6d8;
  --color-gradientBrand: linear-gradient(180deg, #f8d12f 0%, #f0b90b 100%);
  --color-gradientPrimary: linear-gradient(295.27deg, #ffffff 0%, #e6e8ea 84.52%)
}