.sub {
  position: absolute;
  z-index: 1300;
  top: 35px;
  padding: 24px 24px 0px 24px;
  border-radius: 0px 0px 8px 8px;
  background: var(--color-popupBg, #fff);
  box-shadow: 0px 8px 8px 0px rgba(24, 26, 32, .08);
  right: 100%;

  .search_group {
    display: flex;
    align-items: center;

    .left {
      width: 336px;
      border: 1px solid var(--color-textPrimary);
      display: flex;
      align-items: center;
      padding: 12px 12px;
      border-radius: 4px;

      span {
        color: var(--color-textSecondary);
      }

      .input_area {
        width: 100%;

        margin-left: 12px;

        .search_input {
          background-color: transparent;
          border: 0px;
          font-size: 14px;
          font-weight: 500;
          width: 100%;
          color: var(--color-textPrimary);

          &::placeholder {
            color: var(--color-textSecondary);
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    span {
      color: var(--color-textPrimary);
      font-weight: 500;
      font-size: 14px;
      margin-left: 12px;
    }
  }

  .list_area {
    h4 {
      color: var(--color-textThird);
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      margin-bottom: 12px;
      margin-top: 24px;
    }

    .list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}