.contain {
  padding: 80px 0px;
  background-color: var(--color-bg2);

  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .title {
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      color: var(--color-textPrimary);
      text-align: center;
    }
  }
}