.contain {
  h2 {
    margin-top: 30px;
  }
}

.cell {
  display: flex;
  align-items: center;

  .coin_name {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-textPrimary);
    margin-right: 8px;
    margin-left: 16px;
  }

  .symbol {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-textThird);
  }

  .price {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--color-textPrimary);
  }
}