.header {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg1);

  .left {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 8px;
    }
  }

  .right {
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      list-style: none;

      li {
        padding: 20px 8px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: var(--color-textPrimary);


        &:hover {
          .element {
            color: #fcd535;
          }
        }

        .text {
          color: var(--color-textPrimary);
          font-size: 14px;
          font-weight: 500;
          line-height: 22px;

          &:hover {
            color: #fcd535 !important;
          }
        }

        .sub {
          position: relative;
        }
      }
    }

    .button {
      padding: 4px 8px;
      gap: 4px;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      color: #181A20;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background-color: #fcd535;
    }
  }
}