.header {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 8px;
    }

    
  }
}