.hero {
  background-color: var(--color-bg2);
  position: relative;

  .hero_top {
    padding: 60px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    h1 {
      font-weight: 600;
      font-size: 48px;
      line-height: 56px;
      color: var(--color-textPrimary);
    }

    .trade_btc_free {
      margin-top: 48px;
      display: flex;
      align-items: center;

      span {
        font-weight: 300;
        font-size: 20px;
        line-height: 28px;
        color: var(--color-textPrimary);
        margin-left: 8px;
        cursor: pointer;
      }
    }

    .buttons {
      width: 384px;

      .login_buttons {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
      }

      .line_area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 14px;

        .line {
          box-sizing: border-box;
          margin: 0;
          min-width: 0;
          height: 1px;
          flex: 1;
          background-color: #EAECEF;
        }

        .line_text {
          margin: 0 8px;
          margin: 0;
          min-width: 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          margin: 0 8px;
          color: #707A8A;

        }
      }
    }
  }

  .hero_bottom {
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../../constants/files/images/web-background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
}