.contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;

  .selection {
    width: 100%;
    padding-left: 80px;

    .qr_area {
      min-width: 100%;
      display: flex;
      align-items: center;
      background-color: var(--color-bg2);
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 40px;

      .right {
        margin-left: 16px;
      }

      .qr_title {
        color: var(--color-textThird);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }

      .qr_desc {
        color: var(--color-textPrimary);
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        margin-top: 12px;
      }
    }


    .download_select {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

    }
  }
}